body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.form-custom {
    width: 90%;
}

.form-group.required .col-form-label:after {
    content: "*";
    color: red;
}