<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inventory App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.0.0-1/css/bootstrap.min.css"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" layout:fragment="navbar">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Inventory App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
<!-- Page Content -->
<div class="container">
    <h2>Order queue</h2>
    <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Order name</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.name}"></td>
                <td th:text="${order.description}"></td>
                <td>
                    Process
                </td>
            </tr>
            </tbody>
    </table>
</div>
<!-- /.container -->
<script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.0.0-1/js/bootstrap.js"></script>
</body>
</html>