<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout">
<head>
<section layout:fragment="css_placeholder">
	<link rel="stylesheet" th:href="@{/css/shopping_cart.css}"
		href="../../css/shopping_cart.css" />
	<script type="text/javascript" th:href="@{/js/shopping_cart.js}"></script>
</section>
</head>
<body>
	<header layout:fragment="page_header" class="d-none"></header>
	<ol layout:fragment="breadcrumb">
		<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Your Order
			Description</li>

	</ol>

	<th:block layout:fragment="page_content">

		<table class="table table-bordered table-striped">
			<span>Your order has been placed successfully. It will be
				processed soon.</span>
			<thead class="thead-dark">
				<tr>
					<th scope="col">Image</th>
					<th scope="col">Product Name</th>
					<th scope="col">Quantity</th>
					<th scope="col">Price</th>
					<th scope="col">Total Price</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="orderline : ${orderDescription.orderLine}"
					th:unless="${session == null}">
					<td><img alt="Product Image"
						th:src="${orderline.product.imageURL}"></td>
					<td th:text="${orderline.product.name}"></td>
					<td th:text="${orderline.quantity}"></td>
					<td th:text="${orderline.product.price}"></td>
					<td
						th:text="${#numbers.formatDecimal(orderline.product.price * orderline.quantity, 0 , 2)}"></td>

				</tr>
				</c:forEach>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4">Total Items</td>
					<td th:text="${orderedQuantities}"></td>
				</tr>
				<tr>
					<td colspan="4">Total Price</td>
					<td th:text="${totalPrice}">$</td>
				</tr>
			</tfoot>
		</table>
	</th:block>
</body>
</html>