<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/layout">
<head>
    <th:block layout:fragment="css_placeholder">
        <link rel="stylesheet" th:href="@{/css/payment.css}" href="../../css/payment.css"/>
    </th:block>
</head>
<body>
<header layout:fragment="page_header" class="d-none"></header>
<ol layout:fragment="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Payment</li>
</ol>
<th:block layout:fragment="page_content">
    <!--<form th:object="${payment}" th:action="@{//post-payment}" method="post" class="form-custom">-->
    <!--<input type="hidden" name="id" th:field="*{id}" />-->
    <!--<div class="form-group row required">-->
    <!--<label for="firstName" class="col-sm-3 col-md-3 col-form-label">First Name</label>-->
    <!--<div class="col-sm-9 col-md-9">-->
    <!--<input th:field="*{firstName}" type="text" class="form-control" id="firstName" required>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group row required">-->
    <!--<label for="lastName" class="col-sm-3 col-md-3 col-form-label">Last Name</label>-->
    <!--<div class="col-sm-9 col-md-9">-->
    <!--<input th:field="*{lastName}" type="text" class="form-control" id="lastName" required>-->
    <!--</div>-->
    <!--</div>-->

    <!--<input type="submit" class="btn btn-primary"/>-->
    <!--</form>-->
</th:block>
</body>
</html>