<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/layout">
<head>
    <th:block layout:fragment="css_placeholder">
        <link rel="stylesheet" th:href="@{/css/product_details.css}" href="../../css/product_details.css"/>
    </th:block>
</head>
<body>
<header layout:fragment="page_header" class="d-none"></header>
<ol layout:fragment="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Product details</li>
</ol>
<th:block layout:fragment="page_content">
    <form th:object="${orderline}" th:action="@{'/product/addToCart/' + ${orderline.product.id}}" method="post"
          class="form-custom">
        <div class="row">
            <div class="col-sm-12 col-md-6 text-center">
                <img th:src="*{product.imageURL}">
            </div>
            <div class="col-sm-12 col-md-6">
                <div>
                    <span class="col-sm-3 col-md-3 col-form-label"><strong th:text="*{product.name}"></strong></span>
                    <p class="col-sm-9 col-md-9" th:text="'$'+*{product.price}"></p>
                </div>
                <div>
                    <span class="col-sm-3 col-md-3 col-form-label"><strong>Quantity</strong></span>
                    <div class="col-sm-9 col-md-9">
                        <input name="quantity" th:field="*{quantity}" type="number" class="form-control" id="quantity">
                    </div>
                </div>
                <div>
                    <span class="col-sm-3 col-md-3 col-form-label"><strong>Description</strong></span>
                    <p class="col-sm-9 col-md-9" th:text="*{product.description}"></p>
                </div>
                <div>
                    <span class="col-sm-3 col-md-3 col-form-label">Manufacturer</span>
                    <p class="col-sm-9 col-md-9" th:text="*{product.manufacturer}"></p>
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            <a class="btn btn-success" th:href="@{/product/all}" role="button">Checkout</a>
            <input type="submit" class="btn btn-primary mx-1" value="Add to Cart"/>
        </div>
    </form>
</th:block>
</body>
</html>