<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="layout/layout">
<head>
    <section layout:fragment="css_placeholder">
        <link rel="stylesheet" th:href="@{/css/product_list.css}" href="../../css/product_list.css"/>
    </section>
</head>
<body>
<header layout:fragment="page_header" class="d-none"></header>
<ol layout:fragment="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Product List</li>
</ol>
<th:block layout:fragment="page_content">
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="btn btn-secondary create-product-btn" th:href="@{/product/addProduct}" role="button">Create
            Product</a>
    </div>
    <div class="row col-12 text-center">
        <div class="col-sm-12 col-md-11">
            <input name="query" type="text" class="form-control" id="query">
        </div>
        <div class="col-sm-12 col-md-1">
            <button class="btn btn-primary create-product-btn" onclick="searchProductsAjax()">Search</button>
        </div>
    </div>
    <div id="productList" class="col-12 row justify-content-md-center">
        <div class="product col-sm-11 col-md-6 col-lg-4" th:each="product : ${products}">
            <a th:href="@{'/product/productDetails/' + ${product.id}}">
                <img class="prod_img" th:src="${product.imageURL}">
                <br/>
            <span><strong th:text="${product.name}"></strong></span><br/>
            $<span th:text="${product.price}"></span>
            </a>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="btn btn-primary" th:href="@{'/product/' + ${product.id}}" role="button">Edit</a>
            </div>
        </div>
    </div>
    <div id="toast">
        <p id="toast_message">${errormsg}</p>
    </div>
    <script language="JavaScript">
        function searchProductsAjax() {
            var url = '/product/search/';
            var query = $('#query').val();
            $.get(url, { query: query},
                function(data){
                    $('#productList').html(data);
                });
        }
    </script>
</th:block>
</body>
</html>